@charset "UTF-8";
/* content */



/* main-content */
.gl__main {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 62px;
}
@media only screen and (min-width: 992px) {
	.gl__main {
		margin-top: 0;
	}
}
/* end */





/* content section */
.gl__main .gl__section,
.gl__main .gl__aside {
	float: none;
}
.gl__main .gl__section {
	width: 100%;
}
@media only screen and (min-width: 768px) {
	.gl__main .gl__section,
	.gl__main .gl__aside {
		float: left;
	}	
	.gl__main .gl__aside {
		height: 100%;
	}
	.gl__main .gl__section {
		width: 72%;
		margin-right: 2%;
	}	
}
/* end */
/* sidebar left */
.gl__main .gl__section .column-left {
	float: none;
	display: none;
}
@media only screen and (min-width: 992px) {
	.gl__main .gl__section .column-left {
		float: left;
		width: 140px;
		margin-right: 20px;
		display: block;
	}	
}
/* end */
/* central content */
.gl__main .gl__section .column-central {
	float: none;
	width: 100%;
}
@media only screen and (min-width: 992px) {
	.gl__main .gl__section .column-central {
		float: right;
		width: calc(100% - 160px);
		
	}		
}
/* end */


/* article-thumbnail */
.gl__main .gl__article--thumbnail {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	overflow: hidden;
	margin-bottom: 15px;
}
/* end */
/* thumb-global-link */
.gl__article--thumbnail .thumb-link {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	text-decoration: none;
}
@media only screen and (min-width: 768px) {
	.gl__article--thumbnail .thumb-link {
		flex-direction: row;
	}
}
/* end */
/* thumb-image */
.gl__article--thumbnail .thumb-image {
	float: none;
	width: 100%;
	height: 120px;
}
@media only screen and (min-width: 768px) {
	.gl__article--thumbnail .thumb-image {
		float: left;
		width: 170px;
		height: 170px;
	}
}
/* end */
/* thumb-description */
.gl__article--thumbnail .thumb-desc {
	float: none;
	width: 100%;
	padding: 15px 7px;
}

@media only screen and (min-width: 768px) {
	.gl__article--thumbnail .thumb-desc {
		float: left;
		width: calc(100% - 170px);
		padding: 7px 7px 0;
	}	
}



.gl__article--thumbnail .thumb-desc h3 {
	font-weight: 500;
	font-size: 22px;
	margin: 0 0 10px;
	line-height: 1.316;
	color: var(--color-dark);
}

.gl__article--thumbnail .thumb-desc p {
	font-size: 14px;
	margin: 0;
	line-height: 1.316;
	color: var(--color-light);
}

@media only screen and (min-width: 1200px) {
	.gl__article--thumbnail .thumb-desc h3 {
		font-size: 25px;
	}
	.gl__article--thumbnail .thumb-desc p {
		font-size: 16px;
	}
}

.gl__article--thumbnail .thumb-image > img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}






































/* content full */
.gl__main .gl__section .column-full {
	float: none;
	width: 100%;
	display: flex;
	flex-direction: column;
}
@media only screen and (min-width: 768px) {
	.gl__main .gl__section .column-full {
		float: left;
	}
}

@media only screen and (min-width: 992px) {
	.gl__main .gl__section .column-full {
		flex-direction: row;
	}
}

.gl__main .gl__section .column-full > .column-left,
.gl__main .gl__section .column-full > .column-central {
	margin-bottom: 0;
	display: block;
}

@media only screen and (min-width: 992px) {
	.gl__main .gl__section .column-full > .column-left {
		width: 140px;
		margin-right: 20px;
	}
	.gl__main .gl__section .column-full > .column-central {
		margin-left: 0;
	}
}

/* sidebar right */
.gl__main .gl__aside {
	width: 100%;
}
@media only screen and (min-width: 768px) {
	.gl__main .gl__aside {
		width: 26%;
	}	
}


.column-left,
.column-central,
.column-full {
	margin-bottom: 20px;
	background-color: inherit;
}




















