@charset "UTF-8";
/* content */



/* main-content */
.gl__main {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 50px;
	margin-top: 72px;
}
@media only screen and (min-width: 992px) {
	.gl__main {
		margin-top: 0;
	}
}
/* end */





/* content section */
.gl__main .gl__section,
.gl__main .gl__aside {
	float: none;
}
.gl__main .gl__section {
	width: 100%;
}
@media only screen and (min-width: 768px) {
	.gl__main .gl__section,
	.gl__main .gl__aside {
		float: left;
	}	
	.gl__main .gl__aside {
		height: 100%;
	}
	.gl__main .gl__section {
		width: 72%;
		width: 464px;
		margin-right: 2%;
		margin-right: 15px;
	}	
}
@media only screen and (min-width: 992px) {
	.gl__main .gl__section {
		width: 704px;
	}
}
@media only screen and (min-width: 1200px) {
	.gl__main .gl__section {
		width: 795px;
	}
}
/* end */
/* sidebar left */
.gl__main .gl__section .column-left {
	float: none;
	display: none;
}
@media only screen and (min-width: 992px) {
	.gl__main .gl__section .column-left {
		float: left;
		width: 145px;
		margin-right: 15px;
		display: block;
	}	
}
/* end */
/* central content */
.gl__main .gl__section .column-central {
	float: none;
	width: 100%;
}
@media only screen and (min-width: 992px) {
	.gl__main .gl__section .column-central {
		float: right;
		width: calc(100% - 160px);
		
	}		
}
/* end */


/* article-thumbnail */
.gl__main .gl__article--thumbnail {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	overflow: hidden;
	margin-bottom: 20px;
}
.gl__main .gl__article--thumbnail:last-child {
	margin-bottom: 0;
}
/* end */
/* thumb-global-link */
.gl__article--thumbnail .thumb-link {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	text-decoration: none;
}
@media only screen and (min-width: 768px) {
	.gl__article--thumbnail .thumb-link {
		flex-direction: row;
	}
}
/* end */
/* thumb-image */
.gl__article--thumbnail .thumb-image {
	float: none;
	width: 100%;
	height: 120px;
}
@media only screen and (min-width: 768px) {
	.gl__article--thumbnail .thumb-image {
		float: left;
		width: 170px;
		height: 170px;
	}
}
/* end */
/* thumb-description */
.gl__article--thumbnail .thumb-desc {
	float: none;
	width: 100%;
	padding: 15px 7px;
}

@media only screen and (min-width: 768px) {
	.gl__article--thumbnail .thumb-desc {
		float: left;
		width: calc(100% - 170px);
		padding: 7px 7px 0;
	}	
}



.gl__article--thumbnail .thumb-desc h3 {
	font-weight: 500;
	font-size: 22px;
	margin: 0 0 10px;
	line-height: 1.316;
	color: var(--color-dark);
}

.gl__article--thumbnail .thumb-desc p {
	font-size: 14px;
	margin: 0;
	line-height: 1.316;
	color: var(--color-light);
}

@media only screen and (min-width: 1200px) {
	.gl__article--thumbnail .thumb-desc h3 {
		font-size: 25px;
	}
	.gl__article--thumbnail .thumb-desc p {
		font-size: 16px;
	}
}

.gl__article--thumbnail .thumb-image > img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}






































/* content full */
.gl__main .gl__section .column-full {
	float: none;
	width: 100%;
	display: flex;
	flex-direction: column;
}
@media only screen and (min-width: 768px) {
	.gl__main .gl__section .column-full {
		float: left;
	}
}

@media only screen and (min-width: 992px) {
	.gl__main .gl__section .column-full {
		flex-direction: row;
	}
}

/* column connected title */
.gl__main .gl__section .column-full .connected-title {
	text-align: center;
	text-transform: uppercase;
	color: var(--color-dark);
	font-family: ;
	font-size: 24px;
	font-size: 2.4rem;
	font-family: 'Raleway', sans-serif;	
	margin-bottom: 0;
}



/* sport column */
.gl__main .gl__section .column-full.column-sport {
	
}

.gl__main .gl__section .column-full.column-sport .column-left {
	border-top: 3px solid var(--green);
}

/* full-of-left */
@media only screen and (min-width: 992px) {
	.gl__main .gl__section .column-full.column-sport .column-left {
	}
}

.gl__main .gl__section .column-full.column-sport .column-central {
	background-color: var(--green);
}
/* full-of-central */
@media only screen and (min-width: 992px) {
	.gl__main .gl__section .column-full.column-sport .column-central {

	}
}
/* end */
/* column videos */
.gl__main .gl__section .column-full.column-videos {
	
}

.gl__main .gl__section .column-full.column-videos .column-left {
	border-top: 3px solid var(--color-navyblue);
}

/* full-of-left */
@media only screen and (min-width: 992px) {
	.gl__main .gl__section .column-full.column-videos .column-left {
		
	}
}

.gl__main .gl__section .column-full.column-videos .column-central {
	background-color: var(--color-navyblue);
}
/* full-of-central */
@media only screen and (min-width: 992px) {
	.gl__main .gl__section .column-full.column-videos .column-central {

	}
}
/* end */

/* column bay */
.gl__main .gl__section .column-full.column-bay {
	
}

.gl__main .gl__section .column-full.column-bay .column-left {
	border-top: 3px solid var(--orange);
}

/* full-of-left */
@media only screen and (min-width: 992px) {
	.gl__main .gl__section .column-full.column-bay .column-left {
		
	}
}

.gl__main .gl__section .column-full.column-bay .column-central {
	background-color: var(--orange);
}
/* full-of-central */
@media only screen and (min-width: 992px) {
	.gl__main .gl__section .column-full.column-bay .column-central {

	}
}
/* end */

.gl__main .gl__section .column-full .column-left {
	padding: 15px;
}

.gl__main .gl__section .column-full .column-central {
	padding: 15px;
}



@media only screen and (min-width: 992px) {

}

.gl__main .gl__section .column-full > .column-left,
.gl__main .gl__section .column-full > .column-central {
	margin-bottom: 0;
	display: block;
}

@media only screen and (min-width: 992px) {
	.gl__main .gl__section .column-full > .column-left {
		width: 160px;
		margin-right: 0;
	}
	.gl__main .gl__section .column-full > .column-central {
		margin-left: 0;
	}
}

/* sidebar right */
.gl__main .gl__aside {
	width: 100%;
}
@media only screen and (min-width: 768px) {
	.gl__main .gl__aside {
		width: 26%;
		width: 211px;
	}	
}
@media only screen and (min-width: 992px) {
	.gl__main .gl__aside {
		width: 211px;
	}
}
@media only screen and (min-width: 1200px) {
	.gl__main .gl__aside {
		width: 300px;
	}
}
.column-left,
.column-central,
.column-full {
	margin-bottom: 20px;
}

/* horizontal */
.gl__main .gl__aside .read-more {
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.gl__main .gl__aside .read-more h3 {
	padding: 15px;
	color: var(--color-white);
	margin-bottom: 0;
}

.gl__main .gl__aside .read-more .more-links {
	margin: 0;
	padding: 15px 0;
	list-style-type: none;
}

.gl__main .gl__aside .read-more .more-links li {
	margin-bottom: 15px;
}

.gl__main .gl__aside .read-more .more-links li:last-child {
	margin-bottom: 0;
}

.gl__main .gl__aside .read-more .horizontal-link {
	text-align: left;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: normal;
	color: var(--color-white);
	padding: 0 15px;
	border: 0;
	outline: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	width: 100%;
	/*height: 90px;*/
	margin: 0;
	border-radius: 0;
}

.gl__main .gl__aside .read-more .link:hover p {
	text-decoration: underline;
}

.gl__main .gl__aside .read-more .horizontal-link figure {
	position: relative;
	width: 100%;
	height: 100%;
	padding-top: 75%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.gl__main .gl__aside .read-more .horizontal-link .link-desc {
	float: left;
	width: 100%;
	padding: 7px 0; 
}

@media only screen and (min-width: 1200px) {
	.gl__main .gl__aside .read-more .horizontal-link {
		height: 90px;
	}
	.gl__main .gl__aside .read-more .horizontal-link figure {
		padding-top: 0;
		width: 90px;
		height: 90px;
	}
	.gl__main .gl__aside .read-more .horizontal-link .link-desc {
		width: calc(100% - 90px);
		padding: 7px 10px; 
	}
}

.gl__main .gl__aside .read-more .link .link-desc p {
	margin-bottom: 0;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;	
}


/* vertical */
.gl__main .gl__aside .read-more .vertical-link {
	text-align: left;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: normal;
	color: var(--color-white);
	padding: 0 15px;
	border: 0;
	outline: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	width: 100%;
	margin: 0;
	border-radius: 0;
}

.gl__main .gl__aside .read-more .link:hover p {
	text-decoration: underline;
}

.gl__main .gl__aside .read-more .vertical-link figure {
	position: relative;
	width: 100%;
	height: 100%;
	padding-top: 75%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.gl__main .gl__aside .read-more .vertical-link .link-desc {
	float: left;
	width: 100%;
	padding: 7px 0; 
}





