@charset "UTF-8";

/* root-css-var */
:root {
	--color-light: #9b9b9b;
	--color-dark: #262626;
	--color-navyblue: #5A189A; 
    /* #415D43;*/ 
    /* #03045E */ 
    /* #0B525B */ 
    /* #FCA311 */ 
    /* #3C096C */
    /* #5A189A */
    /* #5F0F40 */
    /* #9E0059 */
	--color-commandblue: #0077B6;
	--color-ceruleancrayola: #00B4D8;
	--color-skybluecrayola: #90E0EF;
	--color-white: #FEFCFB;
	--color-red: #EF233C; /* #FF0054 */ /* #EF233C */ /* #D90429 */ /* #D00000 */
	--color-silver: #E6E6E6;
  --color-dimgray: #f4f4f4; /* #E5E5E5 */
  --gold: #ffd700;

	--bg-header: var(--color-navyblue);
	--bg-header-right: var(--color-white);
	--bg-header-left: var(--color-navyblue);
	--bg-button: var(--color-navyblue);
	--bg-border: var(--color-navyblue);

	--bg-nav: var(--color-white);
	--bg-nav-top: var(--color-white);
	--bg-nav-bottom: var(--color-navyblue);


	--zindex-nav: 998;
	--zindex-nav-trigger: 999;
	--zindex-nav-top: 1000;
	--zindex-header: 1003;
	--zindex-overlay: 1001;
	--zindex-search: 1002;

	--base-font-px: 16px;
	--base-font-rem: 1.6rem;



  	--primary-color-h: 156;
  	--primary-color-s: 50%;
  	--primary-color-l: 50%;
  	--primary-color: hsl(var(—primary-color-h), var(--primary-color-s), var(--primary-color-l));
  
  	/* lighten */
  	--primary-color--light: hsl(var(--primary-color-h), var(--primary-color-s), calc(var(--primary-color-l) + 15%));

  	/* darken */ 
  	--primary-color--dark: hsl(var(--primary-color-h), var(--primary-color-s), calc(var(--primary-color-l) - 15%));
  
  	/* complement */
  	--primary-color--complement: hsl(calc(var(--primary-color-h) + 180), var(--primary-color-s), var(--primary-color-l));

  	/* triad */ 
  	--primary-color--triada-1: hsl(calc(var(--primary-color-h) + 120), var(--primary-color-s), var(--primary-color-l));
  	--primary-color--triada-2: hsl(calc(var(--primary-color-h) + 240), var(--primary-color-s), var(--primary-color-l));

  	/* analogous */
  	--degree: 15;
  	--primary-color--analogous-1: hsl( 
	    calc(var(--primary-color-h) + var(--degree)), 
	    var(--primary-color-s), 
	    var(--primary-color-l)
  	);

  	--primary-color--analogous-2: hsl( 
	    calc(var(--primary-color-h) - var(--degree)), 
	    var(--primary-color-s), 
	    var(--primary-color-l)
  	);	
}


*, 
*::before, 
*::after {
  	-webkit-box-sizing: inherit;
  	-moz-box-sizing: inherit;
  	box-sizing: inherit
}
/******* end *******/


html {
	font-size: 62.5%;
	font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box  
}
/******* end *******/


body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: var(--base-font-px);
    font-size: var(--base-font-rem);
    font-weight: 400;
    line-height: 1.618;
    color: var(--color-black);
    text-align: left;
    background-color: var(--color-dimgray);
}
/******* end *******/

body.nav-overflow-hidden {
	overflow-y: hidden;
}

@media only screen and (min-width: 992px) {
	body.nav-overflow-hidden {
		overflow-y: auto !important;
	}	
}

body.search-overflow-hidden {
  overflow: hidden !important;
}


/* common */
::placeholder {
  	color: var(--color-black);
  	opacity: 1;
}
:-ms-input-placeholder { color: var(--color-black)}
::-ms-input-placeholder { color: var(--color-black)}
/******* end *******/

[data-aspect-ratio] {
    display: block;
    width: 100%;
    max-width: 100%;
    position: relative;
}

[data-aspect-ratio] {
  position: relative;
}

[data-aspect-ratio]:before {
    content: '';
    display: block;
}

[data-aspect-ratio] > * {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
[data-aspect-ratio="3:1"]:before {
    padding-top: 33.33%;
}
[data-aspect-ratio="2:1"]:before {
    padding-top: 50%;
}
[data-aspect-ratio="16:9"]:before {
    padding-top: 56.25%;
}
[data-aspect-ratio="3:2"]:before {
    padding-top: 66.66%;
}
[data-aspect-ratio="4:3"]:before {
    padding-top: 75%;
}
[data-aspect-ratio="1:1"]:before {
    padding-top: 100%;
}
[data-aspect-ratio="3:4"]:before {
    padding-top: 133.33%;
}
[data-aspect-ratio="2:3"]:before {
    padding-top: 150%;
}
[data-aspect-ratio="9:16"]:before {
    padding-top: 177.77%;
}
[data-aspect-ratio="1:2"]:before {
    padding-top: 200%;
}
[data-aspect-ratio="1:3"]:before {
    padding-top: 300%;
}