@charset "UTF-8";

/* navigation navigation-menu */
.gl__nav {
	position: fixed;
	top: 62px;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow-y: auto;
	z-index: var(--zindex-nav);
	background-color: var(--bg-nav);
	display: none;
}
/* on trigger active nav */
.gl__nav.gl__nav--isActive {
	display: block;
}
/* visible only media screen */
@media only screen and (min-width: 992px) {
	.gl__nav {
		position: relative;
		top: 0;
		overflow-y: hidden;
		display: block;
	}
}
/* end */

/* menu ul */
.gl__nav .menu {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	list-style-type: none;
	padding: 15px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	margin-right: auto;
	margin-left: auto;
}
@media only screen and (min-width: 572px) {
	.gl__nav .menu {
		max-width: 540px;
	}
}

@media only screen and (min-width: 768px) {
	.gl__nav .menu {
		max-width: 720px;
	}
}

@media only screen and (min-width: 992px) {
	.gl__nav .menu {
		max-width: initial;
	}
	.gl__nav .menu__top {
		background-color: var(--bg-nav-top);
	}
	.gl__nav .menu__bottom {
		background-color: var(--bg-nav-bottom);
	}

	.gl__nav.gl__nav--isFixed .menu__top {
		position: fixed;
		top: 0;
		z-index: var(--zindex-nav-top);
		box-shadow: 0 2px 3px rgba(0,0,0,.25);
	}
	.gl__nav.gl__nav--isFixed .menu__bottom {
		margin-top: 45px;
	}
	.gl__nav .menu {
		padding: 0 15px;
		flex-direction: row;
	}
}
/* navigation-list */
.gl__nav .menu .list__item {
	position: relative;
	width: 100%;
	text-align: left;
	border-bottom: 1px solid var(--color-silver);
}
@media only screen and (min-width: 992px) {
	.gl__nav .menu .list__item {
		width: auto;
		border-bottom: 0;
	}
}
/* navigation-link */
.gl__nav .menu .item__link {
	position: relative;
	min-width: 45px;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 700;
}
.gl__nav .menu__top .item__link,
.gl__nav .menu__bottom .item__link {
	padding: 8px 12px;
}




/* is active link menu top */
.gl__nav .menu__top .item__link.item__link--isActive,
.gl__nav .menu__bottom .item__link.item__link--isActive {
	background-color: var(--color-red);
	color: var(--color-white);
}

.gl__nav .menu__top .item__link.item__link--isActive:hover,
.gl__nav .menu__bottom .item__link.item__link--isActive:hover {
	background-color: var(--color-red) !important;
	color: var(--color-white) !important;	
}

.gl__nav .menu__top .item__link:hover,
.gl__nav .menu__top .item__link:focus,
.gl__nav .menu__bottom .item__link:hover,
.gl__nav .menu__bottom .item__link:focus {
	background-color: var(--color-light);
	color: var(--color-white);
}



.gl__nav .menu__top .item__link,
.gl__nav .menu__bottom .item__link {
	color: var(--color-dark);
}
@media only screen and (min-width: 992px) {
	.gl__nav .menu__bottom .item__link {
		color: var(--color-white);
	}
	.gl__nav .menu__bottom .item__link:hover,
	.gl__nav .menu__bottom .item__link:focus {
		background-color: var(--color-white);
		color: var(--color-dark);		
	}	
}

.gl__nav .menu__top .item__link .icon,
.gl__nav .menu__bottom .item__link .icon {
	margin-right: 7px;
	font-size: 19px;
	font-size: 1.9rem;
	line-height: 1.2;
}
/* end */



/* navigation-trigger */
.nav__trigger {
	position: fixed;
	right: 15px;
	bottom: 15px;
	width: 50px;
	height: 50px;
	color: var(--color-white);
	background-color: var(--bg-button);
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: var(--zindex-nav-trigger);
}
/* hover-menu-trigger */
.nav__trigger:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
@media only screen and (min-width: 992px) {
	.nav__trigger {display: none}
}

/* end */